.form-group {
	position: relative;
}

.form-group .svg-inline--fa {
	position: absolute;
	top: 42px;
	right: 10px;
	visibility: hidden;
}

.form-group small {
	visibility: hidden;
	font-size: 12px;
}

.form-group.success input {
	border: 2px solid #17b82b;
}

.form-group.error input {
	border: 2px solid #e81123;
}

.form-group.success .svg-inline--fa.fa-check-circle {
	visibility: visible;
	color: #17b82b;
}

.form-group.error .svg-inline--fa.fa-exclamation-circle {
	visibility: visible;
	color: #e81123;
}

.form-group.error small {
	visibility: visible;
	color: #e81123;
}

input::placeholder {
	font-size: 14px;
}
